<h1 class="my-4">
  <small>Todo Add</small>
  <a routerLink="/tasks" class="btn btn-info">Back</a>
</h1>
<div class="row">
  <div class="col-lg-12 col-sm-12">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="title">title</label>
        <input type="email" class="form-control" id="title" placeholder="title">
        <small class="form-text text-muted">Field required!</small>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="is_done">
        <label class="form-check-label" for="is_done">Is done?</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<!-- /.row -->

